.Post-style{
    display: flex;
   flex-wrap: wrap;
   margin-left: -100px;
  
   width: 100%;
   margin-top: 85px;
}
.card-Style{
   justify-content: center; 

}

.card-content{
   text-align: center;
}

.card-Style{
   padding: 10px;
}

.postTag{
   background-color: red;
}